body {
    font-family: Arial, monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #333;
    padding: 1rem;
}

.navbar a {
    font-family: "Press Start 2P", cursive;
    color: rgb(255, 255, 255);
    padding: 0.75rem;
    text-decoration: none;
    font-weight: bold;
    transition: filter 0.3s ease-in-out;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.project-card {
    background-color: #222;
    border-radius: 5px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-card h3 {
    font-size: 1.25rem;
    color: #FF69B4;
    margin: 1rem 0;
}

.project-card p {
    color: #E6E6FA;
    font-size: 1rem;
}

.project-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: #E6E6FA;
    font-family: Arial, sans-serif;
}

.footer .social-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer .social-icons a {
    margin: 0 10px;
    color: #E6E6FA;
    text-decoration: none;
    font-size: 1.5rem;
}

.footer .social-icons img {
    width: 5vw;
    max-width: 30px;
    height: auto;
    margin: 0 10px;
    vertical-align: middle;
}
